.user-container{
    background-color: var(--inner-color);
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 5px;
}